svg {
    background-color: #fff;
    border: 1px solid #e4e5e7;
    height: 30px;
    width: 30px;

    border-radius: 50%;

    box-shadow: 0 0 8px rgba(0,0,0,.1);
    padding: 5px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.prev, .next {
    position: absolute;
    z-index: 4;
    top: 50%;
    margin-top: -24px;
}

.prev {
    left: -8px;
}

.next {
    right: -8px;
}