.myGigs {
    display: flex;
    justify-content: center;

    .loader {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 75%;
        margin: auto;
        padding: 50px 0px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: var(--green-color);
                color: #fff;
                font-weight: 500;
                border: none;
                padding: 10px;
                cursor: pointer;
            }
        }

        table {
            width: 100%;

            tr {
                height: 50px;
                cursor: pointer;

                th {
                    text-align: left;
                }

                td {
                    img {
                        width: 50px;
                        height: 25px;
                        object-fit: cover;
                    }
                }

                .delete {
                    width: 20px;
                    cursor: pointer; 
                }

                &:nth-child(even) {
                    background-color: #00ff620f;
                }
            }
        }

        @media screen and (max-width: 900px) {
            width: 90%;
        }
    }
}